<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ColorCalendar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Examples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E1F34A31F202D2700132FDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EAC549B1F31A7D4008A3D8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EAC54AE1F31A7D4008A3D8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EAC54B91F31A7D4008A3D8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EAC54D91F328241008A3D8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA7A026F1DFF638300FF2EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA7A02781DFF638300FF2EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAB7CD5B1E0C1DC800C94638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAB7CD6E1E0C1DC800C94638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAB7CD791E0C1DC800C94638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAEE473F1E1D722A00086823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAEE47471E1D722B00086823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
